<form
  [formGroup]="categoryFormGroup"
  class="category-form"
  (ngSubmit)="onCreateQuiz()"
>
  <select
    formControlName="category"
    id="categorySelect"
    placeholder="Select a category"
  >
    <option *ngFor="let category of categories" [value]="category.id">
      {{ category.name }}
    </option>
  </select>
  <select
    formControlName="difficulty"
    id="difficultySelect"
    placeholder="Select difficulty"
  >
    <option *ngFor="let difficulty of difficulties" [value]="difficulty">
      {{ difficulty }}
    </option>
  </select>
  <button type="submit" id="createBtn">Create</button>
</form>

<form [formGroup]="answersFormGroup" class="form" (ngSubmit)="onSubmit()">
  <app-question
    *ngFor="let question of questions; index as i"
    [parent]="answersFormGroup"
    [question]="question.question"
    [answer]="question.correct_answer"
    [options]="question.all_answers"
    [name]="getQuestionName(i + 1)"
  ></app-question>
  <button *ngIf="answersFormGroup.valid" type="submit">Submit</button>
</form>
